
.main-head {
  &__title {
    font-size: 50px;
    line-height: 65px;
    color: #2D0027;
    font-weight: bold;
    margin: 24px 0 20px;
    @include media-down(md) {    
      font-size: 30px;
      line-height: 45px;
    }
    @include media-down(sm) {    
      font-size: 18px;
      line-height: 22px;
    }
  }
}
.anons { 
  @include flex($j-fs, $a-center);
  @include media-down(md) {    
    display: block;
  }  
}
.classic-guitar {
  &__wrap {
    display: grid;
    column-gap: 26px;
    grid-template-areas:
    'aside main' 
    ;
  }
  &__aside {
    grid-area: 'aside';
    grid-template-columns: 1fr;
  }
  &__main {
    grid-area: 'main';
  }
}