
// Aside
.aside {
  @include media-down(md) {
    position: absolute;
    top: 0;
    left: -100%;
    z-index: 6; 
  }
  &__title {
    margin: 0;
    @include media-down(md) {    
      display: none;
    } 
  }
  &__wrap {
    margin-top: 26px;
    background-color: #fff;
    @include media-down(md) {    
      padding-top: 50px;
      padding-right: 30px;
    } 
  }
}
.aside-open {
  @include media-down(md) {
    position: absolute;
    top: -44px;
    left: -28px;
    z-index: 6;
  }
}
.aside-form {
  &__wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start; 
  }
  &__top {
    border-bottom: 2px solid #FAEDF8;
    padding-bottom: 20px;
    padding-left: 30px;
    width: 100%;
  }
}
.a-top {
  display: flex;
  &__label {
    margin-bottom: 14px;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    @include media-down(md) {    
      font-weight: normal;
      font-size: 13px;
    } 
    &:hover {
      color: #A0148E;
    }   
  }
  &__input {
    appearance: none;
    position: absolute;
  }
  &__span {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border: 3px solid #F1DAEE;
    position: absolute;
    left: 0;
    &:hover {
      border: 3px solid #EEC0E7;
    }    
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 2px;  
      background-color:  #a0148e80;
      display: none; 
    }
    &::before {
      transform: rotate(45deg);
      height: 12px;
      top: 4px;
      left: 12.6px;
    }
    &::after {
      transform: rotate(-45deg);
      height: 8px;
      top: 8px;
      left: 6px;
    }
  }
}
.a-top__input:checked + .a-top__span::before,
.a-top__input:checked + .a-top__span::after {
  display: block;
}
.a-top__input:checked + .aside-form__span {
  border: 3px solid #EEC0E7;
}
.categories {
  border-bottom: 2px solid #FAEDF8;
  width: 100%;
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-left: 30px; 
    padding-bottom: 20px;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__label {   
    padding-left: 40px;
    position: relative;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    @include media-down(md) {    
      font-weight: normal;
      font-size: 13px;
    } 
    &:hover {
      color: #A0148E;
    }   
  }
  &__input {
    appearance: none;
    position: absolute;
  }
  &__span {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #fff;
    border: 3px solid #F1DAEE;
    position: absolute;
    border-radius: 3px;
    left: 0;
    &:hover {
      border: 3px solid #EEC0E7;
    }    
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 2px;  
      background-color:  #a0148e80;
      display: none; 
    }
    &::before {
      transform: rotate(45deg);
      height: 12px;
      top: 4px;
      left: 12.6px;
    }
    &::after {
      transform: rotate(-45deg);
      height: 8px;
      top: 8px;
      left: 6px;
    }
  }
  &__title {
    position: relative;
  }
  &__btn {
    position: absolute;
    width: 36px;
    height: 22px;
    display: block;
    margin-left: auto;
    right: 10px;
    top: 21px;
    border: none;
    background-color: #fff;
    &:hover {
      &::before,
      &::after  {
        background-color: #A0148E;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color:  #F1DAEE;
      cursor: pointer;
    }
    &::before {
      top: 8px;
      right: 8px;
      transform: rotate(45deg);
    }
    &::after {
      top: 8px;
      right: 14px;
      transform: rotate(-45deg);
    }
    &--open {
      padding: 10px 30px 10px 20px;
      background-color: $col-white;
      &::before {       
        transform: rotate(-45deg);
        right: 14px;
      }
      &::after {
        transform: rotate(45deg);
        right: 9px;
      }
    }
  }
}
.categories__input:checked + .categories__span::before,
.categories__input:checked + .categories__span::after {
  display: block;
}
.categories__input:checked + .categories__span {
  border: 3px solid #EEC0E7;
}
.a-colors {
  padding-left: 30px;
  &__wrap {
   display: grid;
   grid-template-columns: repeat(6, 1fr);
   grid-gap: 10px;
  }
  &__item {
    position: relative;
  }
  &__input {
    position: absolute;
    appearance: none;
    
  }
  &__span {
    display: block;
    width: 26px;
    height: 26px;
    background-color: #ccc;
    position: relative;
    border-radius: 3px;
    border: 1px solid #E7D9E5;
    cursor: pointer;
    &--1 {
      background-color: #D7C99A;
    }
    &--2 {
      background-color: #fff;
    }
    &--3 {
      background-color: #9ED9E7;
    }
    &--4 {
      background-color: #FFFF1F;
    }
    &--5 {
      background-color: #00821A;
    }
    &--6 {
      background-color:#B71A1B;
    }
    &--7 {
      background-color: #F43434;
    }
    &--8 {
      background-color: #F8AC2D;
    }
    &--9 {
      background-color: #FFBDC8;
    }
    &--10 {
      background-color: #B6B6B0;
    }
    &--11 {
      background-color: #373AFE;
    }
    &--12 {
      background-color: #FF7CEA;
    }
  }
  &__button {
    margin-top: 8px;
    color: #EF2D2D;
    border: none;
    cursor: pointer;
  }
  &__btn {
    position: relative;
    width: 36px;
    height: 22px;
    display: block;
    margin-left: auto;
    right: 0px;
    top: -41px;
    border: none;
    background-color: #fff;
    &:hover {
      &::before,
      &::after  {
        background-color: #A0148E;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color:  #F1DAEE;
      cursor: pointer;
    }
    &::before {
      top: 8px;
      right: 8px;
      transform: rotate(45deg);
    }
    &::after {
      top: 8px;
      right: 14px;
      transform: rotate(-45deg);
    }
    &--open {
      padding: 10px 30px 10px 20px;
      background-color: $col-white;
      &::before {       
        transform: rotate(-45deg);
        right: 14px;
      }
      &::after {
        transform: rotate(45deg);
        right: 9px;
      }
    }
  }
}
.a-colors__input:checked + .a-colors__span {
  border: 3px solid rgba(160, 20, 142, 0.5); 
}
.a-brands {
  border-bottom: 2px solid #FAEDF8;
  width: 100%;
  padding-left: 30px;
  &__list {
    margin-left: 20px;
    margin-top: 20px;
  }
  &__item {
    margin-bottom: 16px;
  }
  &__link {
    color: #BA86B3;
    cursor: pointer;
    &:hover {
      color: #2D0027;
    }
  }
  &__input {
    width: 100%;
    padding: 12px 20px;
    border: 3px solid #F1DAEE;
    border-radius: 3px;
    &::placeholder {
      color: #A0148E;
      opacity: 0.4;
    }
  }
  &__btn {
    position: relative;
    width: 36px;
    height: 22px;
    display: block;
    margin-left: auto;
    right: 15px;
    top: -41px;
    border: none;
    background-color: #fff;
    &:hover {
      &::before,
      &::after  {
        background-color: #A0148E;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color:  #F1DAEE;
      cursor: pointer;
    }
    &::before {
      top: 8px;
      right: 8px;
      transform: rotate(45deg);
    }
    &::after {
      top: 8px;
      right: 14px;
      transform: rotate(-45deg);
    }
    &--open {
      padding: 10px 30px 10px 20px;
      background-color: $col-white;
      &::before {       
        transform: rotate(-45deg);
        right: 14px;
      }
      &::after {
        transform: rotate(45deg);
        right: 9px;
      }
    }
  }
}
.example {
  position: relative;
  border-bottom: 2px solid #FAEDF8;
  width: 100%;
  padding-left: 30px;
  &__input {
    position: absolute;
    appearance: none;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__label {
    position: relative;
    padding-left: 40px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    @include media-down(md) {    
      font-weight: normal;
      font-size: 13px;
    }   
  }
  &__span {
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #fff;
    left: 0;
    border-radius: 50%;
    border: 3px solid #EEC0E7;
    &::before {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      background-color: #A0148E;
      top: 6px;
      left: 6px;
      border-radius: 50%;
      display: none;
    }
  }
  &__btn {
    position: relative;
    width: 36px;
    height: 22px;
    display: block;
    margin-left: auto;
    right: 15px;
    top: -41px;
    border: none;
    background-color: #fff;
    &:hover {
      &::before,
      &::after  {
        background-color: #A0148E;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color:  #F1DAEE;
      cursor: pointer;
    }
    &::before {
      top: 8px;
      right: 8px;
      transform: rotate(45deg);
    }
    &::after {
      top: 8px;
      right: 14px;
      transform: rotate(-45deg);
    }
    &--open {
      padding: 10px 30px 10px 20px;
      background-color: $col-white;
      &::before {       
        transform: rotate(-45deg);
        right: 14px;
      }
      &::after {
        transform: rotate(45deg);
        right: 9px;
      }
    }
  }
}
.example__input:checked + .example__span::before {
  display: block;
}
.hidden {
  border-bottom: 2px solid #FAEDF8;
  width: 100%;
  padding-left: 30px;
    @include media-down(md) {    
      display: none;
    } 
  &__btn {
    position: relative;
    width: 36px;
    height: 22px;
    display: block;
    margin-left: auto;
    right: 15px;
    top: -41px;
    border: none;
    background-color: #fff;
    &:hover {
      &::before,
      &::after  {
        background-color: #A0148E;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 10px;
      height: 2px;
      background-color:  #F1DAEE;
      cursor: pointer;
    }
    &::before {
      top: 8px;
      right: 8px;
      transform: rotate(45deg);
    }
    &::after {
      top: 8px;
      right: 14px;
      transform: rotate(-45deg);
    }
    &--open {
      padding: 10px 30px 10px 20px;
      background-color: $col-white;
      &::before {       
        transform: rotate(-45deg);
        right: 14px;
      }
      &::after {
        transform: rotate(45deg);
        right: 9px;
      }
    }
  }
}
.a-buttons {
  width: 100%; 
  &__wrap {
   padding: 30px;
  }
  &__input {
    display: block;
    width: 100%;
    padding: 12px;
    color: rgba(239, 45, 45, .46);
    font-weight: bold;
    font-size: 15px;
    line-height: 23px;
    background: rgba(239, 45, 45, .1);  
    border-radius: 3px;
    border: none;
    cursor: pointer;
    &--top {
      color: #fff;
      background-color:  #A0148E;
      margin-bottom: 10px;     
    }
  }
}
//Finish aside
// Classic main  разметка
.main-head {
  &__title {
    font-size: 50px;
    line-height: 65px;
    color: #2D0027;
    font-weight: bold;
    margin: 24px 0 20px;
    @include media-down(md) {    
      font-size: 30px;
      line-height: 45px;
    }
    @include media-down(sm) {    
      font-size: 18px;
      line-height: 22px;
    }
  }
}
.anons { 
  @include flex($j-fs, $a-center);
  @include media-down(md) {    
    display: block;
  }  
}
.classic-guitar {
  &__wrap {
    position: relative;
    display: grid;
    column-gap: 26px;
    grid-template-areas:
    'aside main' 
    ;
    @include media-down(md) {    
      grid-template-areas:
    'main' 
    ;
    }
  }
  &__aside {
    grid-area: 'aside'; 
  }
  &__main {
    grid-area: 'main';
  }
}
// Конец разметки
.guitar-cards {
  &__btn {
    position: relative;    
    width: 106px;
    height: 22px;
    display: block;
    left: 0;
    top: 0;
    border: none;
    background-color: #fff;
    display: none;
    color: rgba(160, 20, 142, .6);
    text-align: left;
    cursor: pointer;
    z-index: 8;
    @include media-down(md) {    
      display: block;
      }
    &:hover {
      &::before,
      &::after  {
        background-color: #A0148E;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 2px;
      background-color: rgba(160, 20, 142, .6);
      cursor: pointer;
    }
    &::before {
      top: 9px;
      right: 8px;
      transform: rotate(45deg);
    }
    &::after {
      top: 15px;
      right: 9px;
      transform: rotate(-45deg);
    }
    &--open {
      width: 152px;
      padding-left: 20px;
      background-color: $col-white;
      &::before {       
        transform: rotate(-45deg);
        left: 0;
        top: 8px;
      }
      &::after {
        transform: rotate(45deg);
        left: 0;
        top: 13px;
      }
    }
  }
}
.sort {
  font-size: 13px;
  line-height: 18px;
  color: #2D0027;
  @include media-down(md) {    
    display: none;
  }
  &__span {
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #2D0027;
    right: -1.5px;
    top: 2px;
  }
  &__btn {
    cursor: pointer;
    margin-left: 16px;
    border: none;
    color: #A0148E;
    background-color: #fff;
    &--pop {
      position: relative;
      color: #2D0027;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 1px;
        background-color: #000;
        z-index: 6;
      }
      &::after {
        transform: rotate(45deg);
        right: -5px;
        top: 3px;
      }
      &::before {
        transform: rotate(-45deg);
        right: -2px;
        top: 3px;
      }
    }
    
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 26px;    
    position: relative;
    grid-gap: 26px;
    @include media-down(md) {  
      grid-template-columns: repeat(2, 1fr);
      margin-top: 14px; 
      grid-gap: 10px;
    }
    @include media-down(sm) {    
      margin-top: 14px; 
    }
  }
  &__item {
    @include media-down(md) {   
      
    }
  }
  &__button-up {
    position: absolute;
    bottom: -10%;
    right: -58px;
  }
  &__button-products {
    position: absolute;
    top: 33%;
    left: 20px;
    z-index: 6;
  }
}
.link-up {
  display: block;
  width: 53px;
  height: 53px;
  background: #2D0027;
  opacity: 0.15;
  border-radius: 50%;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #fff;
  }
  &::before {
    transform: rotate(45deg);
    top: 23px;
    left: 25px;
  }
  &::after {
    transform: rotate(-45deg);
    top: 23px;
    left: 14px;
  }
}
.link-product {
  position: relative;
  display: block;
  color: #2D0027;
  background: #FFFFFF;
  box-shadow: 0px 5px 26px rgba(160, 20, 142, 0.17);
  padding: 10px 14px; 
  border-radius: 3px;
  @include media-down(md) {    
    display: none;
  }
  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #fff transparent transparent;  
    left: -19px;
    top: 22px;
  
  }
}
.span-product {
  color: #A0148E;
}
 .numbers {
   &__list {
    @include flex($j-sb, $a-center);
    margin: 56px 0;
   }
   &__link {
    color: #A0148E;
    &:hover {
      color: #000;
    }
    &--active {
      color: #000;
    }
   }
   &__span {
    color: #2D0027;
    opacity: 0.3;
    font-size: 22px;
   }
 }