
.guitar-cards {
  &__btn {
    position: relative;    
    width: 106px;
    height: 22px;
    display: block;
    left: 0;
    top: 0;
    border: none;
    background-color: #fff;
    display: none;
    color: rgba(160, 20, 142, .6);
    text-align: left;
    @include media-down(md) {    
      display: block;
      }
    &:hover {
      &::before,
      &::after  {
        background-color: #A0148E;
      }
    }
    &::before,
    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 2px;
      background-color: rgba(160, 20, 142, .6);
      cursor: pointer;
    }
    &::before {
      top: 9px;
      right: 8px;
      transform: rotate(45deg);
    }
    &::after {
      top: 15px;
      right: 9px;
      transform: rotate(-45deg);
    }
    &--open {
      padding: 10px 30px 10px 20px;
      background-color: $col-white;
      &::before {       
        transform: rotate(-45deg);
        right: 14px;
      }
      &::after {
        transform: rotate(45deg);
        right: 9px;
      }
    }
  }
  &__button-products {
    position: absolute;
    top: 35%;
    left: 29%;
    z-index: 6;
    @include media-down(md) {    
      display: none;
    }
  }
}
.sort {
  font-size: 13px;
  line-height: 18px;
  color: #2D0027;
  @include media-down(md) {    
    display: none;
  }
  &__span {
    position: absolute;
    width: 1px;
    height: 12px;
    background-color: #2D0027;
    right: -1.5px;
    top: 2px;
  }
  &__btn {
    cursor: pointer;
    margin-left: 16px;
    border: none;
    color: #A0148E;
    background-color: #fff;
    &--pop {
      position: relative;
      color: #2D0027;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 5px;
        height: 1px;
        background-color: #000;
        z-index: 6;
      }
      &::after {
        transform: rotate(45deg);
        right: -5px;
        top: 3px;
      }
      &::before {
        transform: rotate(-45deg);
        right: -2px;
        top: 3px;
      }
    }
    
  }
  &__wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 26px;    
    position: relative;
    grid-gap: 26px;
    @include media-down(md) {  
      grid-template-columns: repeat(2, 1fr);
      margin-top: 14px; 
      grid-gap: 10px;
    }
    @include media-down(sm) {    
      margin-top: 14px; 
    }
  }
  &__item {
    @include media-down(md) {   
      
    }
  }
  &__numbers {
    grid-column: 1/4;
    @include media-down(md) {    
      display: none;
    }
  }
  &__button-up {
    position: absolute;
    bottom: 20px;
    right: -58px;
  }
}
.link-up {
  display: block;
  width: 53px;
  height: 53px;
  background: #2D0027;
  opacity: 0.15;
  border-radius: 50%;
  position: relative;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 16px;
    height: 2px;
    background-color: #fff;
  }
  &::before {
    transform: rotate(45deg);
    top: 23px;
    left: 25px;
  }
  &::after {
    transform: rotate(-45deg);
    top: 23px;
    left: 14px;
  }
}
.link-product {
  position: relative;
  display: block;
  color: #2D0027;
  background: #FFFFFF;
  box-shadow: 0px 5px 26px rgba(160, 20, 142, 0.17);
  padding: 10px 14px; 
  border-radius: 3px;
  
  &::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 20px 10px 0;
    border-color: transparent #fff transparent transparent;  
    left: -19px;
    top: 22px;
  
  }
}
.span-product {
  color: #A0148E;
}
 .numbers {
   &__list {
    @include flex($j-sb, $a-center);
    margin: 56px 0 100px;
   }
   &__link {
    color: #A0148E;
    &--active {
      color: #000;
    }
   }
   &__span {
    color: #2D0027;
    opacity: 0.3;
    font-size: 22px;
   }
 }