.pop-goods {
  &__title {
    margin-top: 52px;
    margin-bottom: 42px;
    @include media-down(md) {    
      text-align: center;
      margin-bottom: 0px;
    }
  }
}
.good-slider {
  position: relative;
  min-height: 0;
  &__list {
    position: relative;
  }
  &__item {
    margin-right: 26px;
  }
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.good-slider__list .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 45px;
  background-color: #fff;
  border: 0 none;
  outline: none;
  cursor: pointer;
  z-index: 5;
  font-size: 0;
}
.good-slider__list .slick-prev {
  left: 0;
  background-image: url('../img/prev-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.good-slider__list .slick-next {
  right: 0;
  background-image: url('../img/next-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.good-slider__list .slick-dots {
  @include flex($j-center, $a-center);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.good-slider__list .slick-dots li {
  margin: 0 4px;
}
.good-slider__list .slick-dots li button {
  font-size: 0;
  border-radius: 50%;
  width: 10px;
  height: 12px;
  background-color: #A0148E;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}
.good-slider__list .slick-dots li.slick-active button {
  background-color: #A0148E;
  opacity: 1;
  width: 14px;
  height: 14px;
}
.select {
  text-align: right;
  &__icon {
    width: 24px;
    height: 24px;
    stroke: #A0148E;
    fill: none;
    opacity: .3;
    &:hover {
      stroke: #D866C9;
      opacity: 1;
    }
  }
  &__btn {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
  }
}
.p-card { 
  &__wrap {
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:hover {
      border: 3px solid #FCEBF9;
      border-radius: 3px;
      padding: 17px;
    }
  }
  &__link {
    color: #2D0027;
    font-weight: bold;
    @include media-down(md) {    
      font-size: 13px;
      font-weight: normal;
      line-height: 18px;
    }
    &:hover {
      color: #D866C9;
    }
  }
  &__description {
    margin: 15px 0;
  }
  &__img {
   margin: 0 auto;
   object-fit: cover;
   max-width: 100%;
  }
}
.p-price {
  &__wrap {
    @include flex($j-center, $a-center);
    @include media-down(md) {    
      @include flex($j-sb, $a-center);
    }
  }
  &__sum {
    display: inline-block;
    margin-right: 10px;
    color: #2D0027;
    font-weight: bold;
    font-size: 15px;
    line-height: 6px;
    @include media-down(md) {    
      font-size: 11px;
      font-weight: normal;
      margin-right: 0;
    }
    &:hover {
      color: #A0148E;
    }
  }
  &__basket {
    display: block;
    border: 3px solid #F7ECF5;
    border-radius: 2px;
    cursor: pointer;
    background-color: transparent;
    &:hover {
      background: #FFE3FB;
    }
  }
  &__old-sum {
    font-weight: bold;
    font-size: 11px;
    line-height: 17px;
    text-decoration-line: line-through;
    opacity: .3;
  }
}