
.pop-categories {
  &__title {
    @include media-down(md) {    
      text-align: center;
    }
  }
}
.s-title {
  font-size: 30px;
  line-height: 36px;
  color: #2D0027;
  text-transform: uppercase;
  @include media-down(sm) {    
    font-size: 18px;
    line-height: 22px;
  }
}
.p-slider {
  position: relative;
  min-height: 0;
  overflow: hidden;
  &__list {
    position: relative;
    display: flex;
    margin-left: -26px;
  }
  &__item {
    margin-left: 26px;
  }
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: flex-start;
}
.p-slider__list .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 45px;
  background-color: #fff;
  border: 0 none;
  outline: none;
  cursor: pointer;
  z-index: 5;
  font-size: 0;
  @include media-down(md) {    
    
    top: 41%; 
  }
  @include media-down(sm) {    
    width: 30px;
    height: 28px; 
    top: 41%; 
  }
}
.p-slider__list .slick-prev {
  left: 26px;
  background-image: url('../img/prev-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.p-slider__list .slick-next {
  right: 0;
  background-image: url('../img/next-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.p-slider__list .slick-dots {
  @include flex($j-center, $a-center);
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translateX(-50%);
}
.p-slider__list .slick-dots li {
  margin: 0 4px;
}
.p-slider__list .slick-dots li button {
  font-size: 0;
  border-radius: 50%;
  width: 10px;
  height: 12px;
  background-color: #A0148E;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}
.p-slider__list .slick-dots li.slick-active button {
  background-color: #A0148E;
  opacity: 1;
  width: 14px;
  height: 14px;
}
.p-visual {
  position: relative;
  &__content {   
    font-family: 'Alatsi', sans-serif; 
    font-weight: bold;
    font-size: 22px;
    letter-spacing: 1.4px;
    color: $col-pink;
    text-align: center;
    white-space: nowrap;
    margin-top: 10px;
    font-weight: bold;
    @include media-up(md) {    
      bottom: 30px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      z-index: 6;
      color: #fff; 
      font-size: 22px;
      letter-spacing: 1.4px;
    }
  } 
  &__cover { 
     position: relative;
     padding-top: 74%;     
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(180.17deg, rgba(82, 0, 71, 0) 39.47%, rgba(82, 0, 71, 0.85) 67.19%);
      opacity: 0.5;
      z-index: 7;     
    }   
    &:hover {
      &::before {
       z-index: 5;
      }      
    }
    @include media-down(sm) {    
     display: block;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    width: 100%;
  }
  &__link {
    display: block;
  } 
}
