.typ-tools {
  position: relative;
  &__title {
    margin-top: 87px;
    margin-bottom: 42px;
    @include media-down(md) {    
      text-align: center;
      margin-top: 52px;
      margin-bottom: 28px;
    }
  }
}
.rectangle {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0px;
  top: 58%;
  background: linear-gradient(180deg, rgba(255, 249, 254, 0) 0%, #FFF9FE 69.27%);
  &--cassio {
    display: none;
    @include media-down(md) {    
      display: block;
      top: 0;
    }
    
  }
}
.bottom-arrow { 
  position: relative;  
  background-color: transparent; 
  color: #A0148E;
  font-weight: bold;
  border: none;
  //outline: none;
  font-size: 15px;
  width: 34px;
  height: 22px;
  left: 50%;
  transform: translateX(-50%);
  bottom: -60px;
  cursor: pointer;
  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 18px;
    height: 3px;
    background-color: #A0148E;
    cursor: pointer;
  }
  &::before {
    top: 10px;
    right: 14px;
    transform: rotate(45deg);
  }
  &::after {
    top: 10px;
    right: 2px;
    transform: rotate(-45deg);
  }
  &--open {
    bottom: 8px;
    &::before {
      top: 8px;
      right: 14px;
      transform: rotate(-45deg);
    }
    &::after {
      top: 8px;
      right: 2px;
      transform: rotate(45deg);
    }
  }
  &--cassio {    
    display: none;
    @include media-down(md) {    
      display: block;
      font-size: 12px;
      left: 46%;
      top: 66%;
      transform: translateX(-50%);
      &::after {
        width: 10px;
        height: 2px;
        right: -54px;
        top: 10px;       
      }
      &::before {
        right: -60px;
        width: 10px;
        height: 2px;
        top: 10px;      
      }
    }
  }
}
.tools-slider {
  position: relative;
  min-height: 0;
  &__item {
    margin-right: 26px;
  }
}
.slick-list {
  overflow: hidden;
}
.slick-track {
  display: flex;
  align-items: center;
}
.tools-slider__list .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 45px;
  background-color: transparent;
  border: 0 none;
  outline: none;
  cursor: pointer;
  z-index: 5;
  font-size: 0;
}
.tools-slider__list .slick-prev {
  left: 0;
  background-image: url('../img/prev-icon.svg');
  background-repeat: no-repeat;
  background-position: left center;
}
.tools-slider__list .slick-next {
  right: 0;
  background-image: url('../img/next-icon.svg');
  background-repeat: no-repeat;
  background-position: center center;
}
.tools-slider__list .slick-dots {
  @include flex($j-center, $a-center);
  position: absolute;
  bottom: -40px;
  left: 50%;
  transform: translateX(-50%);
}
.tools-slider__list .slick-dots li {
  margin: 0 4px;
}
.tools-slider__list .slick-dots li button {
  font-size: 0;
  border-radius: 50%;
  width: 10px;
  height: 12px;
  background-color: #A0148E;
  cursor: pointer;
  border: none;
  outline: none;
  opacity: .3;
  &:hover {
    opacity: 1;
  }
}
.tools-slider__list .slick-dots li.slick-active button {
  background-color: #A0148E;
  opacity: 1;
  width: 14px;
  height: 14px;
}
.tool-card {
  &__wrap {
   text-align: center;
  }
  &__link {
    font-size: 15px;
    line-height: 33px;
    color: #2D0027;
    opacity: 0.5;
    &:hover {
      color: #A0148E;
    }
  }
  &__img {
    margin: 0 auto;
    max-width: 100%;
  }
}
.title-link {
  display: block;
  color: #2D0027;
  &:hover {
    color: #A0148E;
  }
}

