{% extends "templates/default.html" %}
{% set title = "classic"%}
{% block content %}

<body id="classic">
  <div class="page">
    <div class="substrate"></div>
    <div class="container">
      {% include "includes/header.html" %}
      <main class="main">
        <div class="main__wrap">
          <div class="main-head">
            <ul class="main-head__anons anons">
              <li class="anons__item anons__item--slesh">
                <a href="./index.html" class="anons__link">Главная</a>
              </li>
              <li class="anons__item">
                <a href="./showing.html" class="anons__link">Классические гитары</a>
              </li>
            </ul>
            <h2 class="main-head__title">
              Классические гитары
            </h2>
          </div>
          <div class="classic-guitar">
            <div class="classic-guitar__wrap">
              <aside class="classic-guitar__aside">
                <div class="aside">
                  <h3 class="aside__title">Параметры</h3>
                  <div class="aside__wrap">
                    <form action="/" class="aside-form">
                      <div class="aside-form__wrap">
                        <div class="aside-form__top a-top">
                          <label for="stock" class="a-top__label">
                            <input type="checkbox" class="a-top__input" id="stock">
                            <span class="a-top__span"></span>
                            Есть в наличии
                          </label>
                        </div>
                        <div class="aside-form__categories categories">
                          {% set categoriesList = [
                          {label: 'accustic', id: 'accustic', name: 'Аккустические гитары'},
                          {label: 'bas', id: 'bas', name: 'Бас-гитары'},
                          {label: 'classics', id: 'classics', name: 'Классические'},
                          {label: 'classGuitar', id: 'classGuitar', name: 'Классические гитары'},
                          {label: 'ollGuitar', id: 'ollGuitar', name: 'Электроакустические гитары'},
                          {label: 'electroGuitar', id: 'electroGuitar', name: 'Электрогитары'},
                          ]%}
                          <ul class="categories__list">
                            <h4 class="categories__title">Категории</h4>
                            <button class="categories__btn"></button>
                            {% for categoriesItem in categoriesList %}
                            <li class="categories__item"></li>
                            <label for="{{ categoriesItem.label }}" class="categories__label active">
                              <input type="checkbox" class="categories__input" id="{{ categoriesItem.id }}">
                              <span class="categories__span"></span>
                              {{ categoriesItem.name }}
                            </label>
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="aside-form__color a-colors">
                          <h4 class="a-colors__title">Цвет</h4>
                          <button class="a-colors__btn"></button>
                          {% set aColorsList = [
                          {class: 'a-colors__span--1', label: 'one', id: 'one'},
                          {class: 'a-colors__span--2', label: 'two', id: 'two'},
                          {class: 'a-colors__span--3', label: 'three', id: 'three'},
                          {class: 'a-colors__span--4', label: 'four', id: 'four'},
                          {class: 'a-colors__span--5', label: 'five', id: 'five'},
                          {class: 'a-colors__span--6', label: 'six', id: 'six'},
                          {class: 'a-colors__span--7', label: 'seven', id: 'seven'},
                          {class: 'a-colors__span--8', label: 'eight', id: 'eight'},
                          {class: 'a-colors__span--9', label: 'nine', id: 'nine'},
                          {class: 'a-colors__span--10', label: 'then', id: 'then'},
                          {class: 'a-colors__span--11', label: 'eleven', id: 'eleven'},
                          {class: 'a-colors__span--12', label: 'twelve', id: 'twelve'},
                          ] %}
                          <div class="a-colors__wrap">
                            {% for aColorsItem in aColorsList %}
                            <div class="a-colors__item">
                              <label for="{{ aColorsItem.label }}" class="a-colors__label">
                                <input type="checkbox" class="a-colors__input" id="{{ aColorsItem.id }}">
                                <span class="a-colors__span {{ aColorsItem.class }}"></span>
                              </label>
                            </div>
                            {% endfor %}
                          </div>
                          <button class="a-colors__button">Сбросить цвета</button>
                        </div>
                        <div class="aside-form__brands a-brands">
                          <h4 class="a-brands__title">Бренд</h4>
                          <button class="a-brands__btn"></button>
                          <input type="search" class="a-brands__input" placeholder="Я ищу...">
                          <div class="a-brands__wrap">
                            {% set aBrandList = [
                            {href: './showing.html', name: 'CASIO'},
                            {href: '#', name: 'YAMAHA'},
                            {href: '#', name: 'Ibanez'},
                            {href: '#', name: 'YAMAHA'},
                            {href: '#', name: 'KORG'},
                            {href: '#', name: 'SHURE'},
                            {href: './showing.html', name: 'CASIO'},
                            {href: '#', name: 'YAMAHA'},
                            {href: './showing.html', name: 'CASIO'},
                            {href: '#', name: 'YAMAHA'},
                            {href: '#', name: 'Ibanez'},
                            {href: '#', name: 'YAMAHA'},
                            {href: '#', name: 'KORG'}
                            ]%}
                            <ul class="a-brands__list">
                              {% for aBrandItem in aBrandList %}
                              <li class="a-brands__item">
                                <a href="{{ aBrandItem.href }}" class="a-brands__link">{{ aBrandItem.name }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                          </div>
                        </div>
                        <div class="aside-form__example example">
                          <h4 class="example__title">Пример блока</h4>
                          <button class="example__btn"></button>
                          {% set exampleList = [
                          {label: 'acc', id: 'acc', name: 'Аккустические гитары'},
                          {label: 'basguitar', id: 'basguitar', name: 'Бас-гитары'},
                          {label: 'ass', id: 'ass', name: 'Классические'}
                          ]%}
                          <ul class="example__wrap">
                            {% for exampleItem in exampleList %}
                            <li class="example__item">
                              <label for="{{ exampleItem.label }}" class="example__label active">
                                <input type="radio" value="radiobutton" name="contact" class="example__input"
                                  id="{{ exampleItem.id }}">
                                <span class="example__span"></span>
                                {{ exampleItem.name }}
                              </label>
                            </li>
                            {% endfor %}
                          </ul>
                        </div>
                        <div class="aside-form__hidden hidden">
                          <div class="hidden__wrap">
                            <h4 class="hidden__title">Пример скрытого блока</h4>
                            <button class="hidden__btn"></button>
                          </div>
                        </div>
                        <div class="aside-form__buttons a-buttons">
                          <div class="a-buttons__wrap">
                            <input type="submit" class="total-btn a-buttons__input a-buttons__input--top"
                              value="Показать">
                            <input type="submit" class="a-buttons__input" value="Сбросить">
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </aside>
              <main class="classic-guitar__main">
                <div class="guitar-cards">
                  <div class="sort">
                    <span class="sort__text">Сортировать по:</span>
                    <button class="sort__btn sort__btn--pop" id="popularity">Популярности <span
                        class="sort__span"></span> </button>
                    <button class="sort__btn sort__btn--price" id="prece">Цене</button>
                    <button class="sort__btn" id="discount">Скидке</button>
                  </div>
                  <button class="guitar-cards__btn" id="asside">Параметры</button>
                  {% set cardList = [
                  {src:'img/product-2.png', small: 'img/product1.jpg',
                  text:'011C Гитара классическая 4/4, Doff, Doff', alt: 'гитара', prise:'15 980 ₽<br>', oldprise:'18 980
                  ₽'},
                  {src:'img/product-12.jpg', small: 'img/product2.jpg',
                  text:'185-STAY 1100/02 Slim Стойка- колонна для ..., Doff', alt: 'гитара', prise:'15 980 ₽'},
                  {src:'img/product-10.jpg', small: 'img/product1.jpg',
                  text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
                  { src:'img/product-2.png', small: 'img/product2.jpg',
                  text:'438PIA0703 Stage Studio<br> Цифровое пианино, черное', alt: 'гитара', prise:'15 980 ₽'},
                  {src:'img/product-3.png', small: 'img/product1.jpg',
                  text:'185-STAY 1100/02 SlimГитара<br> классическая 4/4, Doff', alt: 'гитара', prise:'15 980 ₽<br>',
                  oldprise:'18 980
                  ₽'},
                  {src:'img/product-4.png', small: 'img/product2.jpg',
                  text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
                  {src:'img/product-2.png', small: 'img/product1.jpg',
                  text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
                  { src:'img/product-10.jpg', small: 'img/product2.jpg',
                  text:'438PIA0703 Stage Studio<br> Цифровое пианино, черное', alt: 'гитара', prise:'15 980 ₽'},
                  {src:'img/product-11.jpg', small: 'img/product1.jpg',
                  text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
                  {src:'img/product-13.jpg', small: 'img/product2.jpg',
                  text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
                  {src:'img/product-14.jpg', small: 'img/product1.jpg',
                  text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
                  {src:'img/product-11.jpg', small: 'img/product2.jpg',
                  text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'}
                  ] %}
                  <div class="sort__wrap">
                    {% for cardItem in cardList %}
                    <div class="sort__item p-card">
                      <div class="p-card__wrap">
                        <div class="p-card__select select">
                          <button class="select__btn">
                            <svg class="select__icon select__icon--favorites">
                              <use href="#favorites"></use>
                            </svg>
                          </button>
                          <button class="select__btn">
                            <svg class="select__icon select__icon--comparison">
                              <use href="#comparison"></use>
                            </svg>
                          </button>
                        </div>
                        <div class="p-card__visual">
                          <div class="p-card__cover">
                            <picture>
                              <source srcset="{{ cardItem.small }}" media="(max-width: 410px)">
                              <img src="{{ cardItem.src }}" alt="{{ alt }}" class="p-card__img">
                            </picture>
                          </div>
                        </div>
                        <div class="p-card__description">
                          <a href="#" class="p-card__link">
                            {{ cardItem.text }}
                          </a>
                        </div>
                        <div class="p-card__price p-price">
                          <div class="p-price__wrap">
                            <div class="p-price__sum">
                              {{ cardItem.prise }}<br>
                              <span class="p-price__old-sum">{{ cardItem.oldprise }}</span>
                            </div>
                            <button class="p-price__basket">
                              <svg class="s-icon p-price__icon">
                                <use href="#basket"></use>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    {% endfor %}
                    <div class="sort__button-products">
                      <a href="#" class="link-product" role="button">75 товаров<br><span
                          class="span-product">Показать</span></a>
                    </div>
                    <div class="sort__button-up">
                      <a href="#" class="link-up"></a>
                    </div>
                  </div>
                  <div class="sort__numbers numbers">
                    <ul class="numbers__list">
                      <li class="numbers__item">
                        <a href="#" class="numbers__link numbers__link--active">1</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">2</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">3</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">4</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">5</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">6</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">7</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">8</a>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">9</a>
                      </li>
                      <li class="numbers__item">
                        <span class="numbers__span">&hellip;</span>
                      </li>
                      <li class="numbers__item">
                        <a href="#" class="numbers__link">829</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </main>
      {% include "includes/footer.html" %}
    </div>
  </div>
  {% include "includes/sprite.html" %}
  <script src="js/classic.js"></script>
  <script src="js/profile.js"></script>
</body>
{% endblock %}