{% extends "templates/default.html" %}
{% set title = "Lmarkt"%}
{% block content %}

<div class="page">
  <div class="substrate"></div>
  <div class="container">
    {% include "includes/header.html" %}
    <main class="main">
      <div class="main__wrap">
        <section class="main__slider-top">
          <div class="slider-top">
            <div class="slider-top__list">
              <div class="slider-top__item visual">
                <div class="visual__s-content s-content">
                  <div class="s-content__wrap">
                    <h1 class="s-content__title title">
                      Акустическая гитара <br><span class="title__span">AD810-BKS<br>Standard Series</span>
                    </h1>
                    <div class="s-content__price price">
                      <span class="price__new">12 350 ₽</span>
                      <span class="price__old">16 350 ₽</span>
                    </div>
                  </div>
                </div>
                <div class="visual__cover">
                  <picture class="visual__picture">
                    <source srcset="img/slid1-11.jpg" media="(max-width: 410px)">
                    <img src="img/slid-1.jpg" alt="Гитары и не только" class="visual__img">
                  </picture>
                </div>
              </div>
              <div class="slider-top__item visual">
                <div class="visual__s-content s-content">
                  <div class="s-content__wrap">
                    <h1 class="s-content__title title">
                      Акустическая гитара <br><span class="title__span">AD810-BKS<br>Standard Series</span>
                    </h1>
                    <div class="s-content__price price">
                      <span class="price__new">12 350 ₽</span>
                      <span class="price__old">16 350 ₽</span>
                    </div>
                  </div>
                </div>
                <div class="visual__cover">
                  <picture class="visual__picture">
                    <source srcset="img/slid1-11.jpg" media="(max-width: 410px)" class="visual__img-cmoll">
                    <img src="img/slid-1.jpg" alt="Гитары и не только" class="visual__img">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="main__pop-categories">
          {% set sliderList = [
          {href: '#', text: 'Классические гитары', src: 'img/photo-1.jpg', alt: 'Гитара' },
          {href: '#', text: 'Синтезаторы', src: 'img/photo-2.jpg', alt: 'синтезаторы' },
          {href: '#', text: 'Электрогитары', src: 'img/photo-3.jpg', alt: 'Электро-гитара' },
          {href: '#', text: 'Усилители', src: 'img/photo-4.jpg', alt: 'Усилители' },
          {href: '#', text: 'Классические гитары', src: 'img/photo-1.jpg', alt: 'Гитара' },
          {href: '#', text: 'Синтезаторы', src: 'img/photo-2.jpg', alt: 'синтезаторы' },
          {href: '#', text: 'Электрогитары', src: 'img/photo-3.jpg', alt: 'Электро-гитара' },
          {href: '#', text: 'Усилители', src: 'img/photo-4.jpg', alt: 'Усилители' },
          ] %}
          <div class="pop-categories">
            <h2 class="pop-categories__title s-title">
              Популярные категории
            </h2>
            <div class="pro-categories__p-slider p-slider">
              <div class="p-slider__list">
                {% for sliderItem in sliderList %}
                <div class="p-slider__item p-visual">
                  <a href="{{ sliderItem.href }}" class="p-visual__link p-visual__wrap">
                    <div class="p-visual__cover">
                      <img src="{{ sliderItem.src }}" alt="{{ sliderItem.alt }}" class="p-visual__img">
                    </div>
                    <div class="p-visual__content">
                      {{ sliderItem.text }}
                    </div>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
        <section class="main__pop-goods">
          <h2 class="pop-goods__title s-title">
            Популярные товары
          </h2>
          {% set cardList = [
          {src:'img/product1.png',
          text:'Гитара<br> классическая 4/4, Doff', alt: 'гитара', prise:'15 980 ₽<br>', oldprise:'18 980 ₽'},
          {src:'img/product-2.png', small: 'img/product2.jpg',
          text:'1Гитара<br> классическая 4/4, Doff', alt: 'гитара', prise:'15 980 ₽'},
          {src:'img/product3.png', small: 'img/product2.jpg',
          text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
          { src:'img/product4.png',small: 'img/product1.jpg',
          text:'438PIA0703 Stage Studio<br> Цифровое пианино, черное', alt: 'гитара', prise:'15 980 ₽'},
          {src:'img/product1.png', small: 'img/product2.jpg',
          text:'Гитара<br> классическая 4/4, Doff', alt: 'гитара', prise:'15 980 ₽<br>', oldprise:'18 980 ₽'},
          {src:'img/product-2.png', small: 'img/product1.jpg',
          text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
          {src:'img/product3.png', small: 'img/product2.jpg',
          text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
          { src:'img/product4.png', small: 'img/product1.jpg',
          text:'438PIA0703 Stage Studio<br> Цифровое пианино, черное', alt: 'гитара', prise:'15 980 ₽'}
          ] %}
          <div class="pop-goods">
            <div class="pop-goods__good-slider good-slider">
              <div class="good-slider__wrap">
                <div class="good-slider__list">
                  {% for cardItem in cardList %}
                  <div class="good-slider__item p-card">
                    <div class="p-card__wrap">
                      <div class="p-card__select select">
                        <button class="select__btn">
                          <svg class="select__icon select__icon--favorites">
                            <use href="#favorites"></use>
                          </svg>
                        </button>
                        <button class="select__btn">
                          <svg class="select__icon select__icon--comparison">
                            <use href="#comparison"></use>
                          </svg>
                        </button>
                      </div>
                      <div class="p-card__visual">
                        <div class="p-card__cover">
                          <picture>
                            <source srcset="{{ cardItem.small }}" media="(max-width: 410px)">
                            <img src="{{ cardItem.src }}" alt="{{ alt }}" class="p-card__img">
                          </picture>
                        </div>
                      </div>
                      <div class="p-card__description">
                        <a href="#" class="p-card__link">
                          {{ cardItem.text }}
                        </a>
                      </div>
                      <div class="p-card__price p-price">
                        <div class="p-price__wrap">
                          <div class="p-price__sum">
                            {{ cardItem.prise }}<br>
                            <span class="p-price__old-sum">{{ cardItem.oldprise }}</span>
                          </div>
                          <button class="p-price__basket">
                            <svg class="s-icon p-price__icon">
                              <use href="#basket"></use>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="main__typ-tools">
          {% set toolCardListOne = [
          {href: '#', text: 'Акустические гитары'},
          {href: '#', text: 'Классические гитары'},
          {href: '#', text: 'Электрогитары'},
          {href: '#', text: 'Классические гитары' },
          {href: '#', text: 'Акустические бас-гитары'},
          {href: '#', text: 'Бас-гитары'},
          {href: '#', text: 'Укулеле' }
          ] %}

          {% set toolCardListTwo = [
          {href: '#', text: 'Синтезаторы'},
          {href: '#', text: 'Цифровое пианино'},
          {href: '#', text: 'Цифровые органы'},
          {href: '#', text: 'Акустические клавишные инструменты' },
          {href: '#', text: 'IDI-клавиатуры'},
          ] %}

          {% set toolCardListThree = [
          {href: '#', text: 'Акустические ударные'},
          {href: '#', text: 'Электронные ударные'},
          {href: '#', text: ' Тарелки'},
          {href: '#', text: 'Стойки' },
          {href: '#', text: 'Рамы'},
          {href: '#', text: 'Педали'},
          ] %}

          {% set toolCardListFour = [
          {href: '#', text: 'Блок-флейты'},
          {href: '#', text: 'Флейты'},
          {href: '#', text: 'Саксофоны'},
          {href: '#', text: 'Кларнеты' },
          {href: '#', text: 'Трубы'},
          {href: '#', text: 'Тромбоны'},
          ] %}

          {% set toolCardListFive = [
          {href: '#', text: 'Блок-флейты'},
          {href: '#', text: 'Флейты'},
          {href: '#', text: 'Саксофоны'},
          {href: '#', text: 'Кларнеты' },
          {href: '#', text: 'Трубы'},
          {href: '#', text: 'Тромбоны'},
          ] %}

          <div class="typ-tools">
            <h2 class="typ-tools__title s-title">
              Инструменты по видам
            </h2>
            <div class="typ-tools__tools-slider tools-slider">
              <div class="tools-slider__list">
                <div class="tools-slider__item tool-card">
                  <div class="tool-card__wrap">
                    <a href="#" class="title-link">
                      <div class="tool-card__visual">
                        <div class="tool-card__cover">
                          <img src="img/vid-1.svg" alt="гитара" class="tool-card__img">
                        </div>
                      </div>
                      <h3 class="tool-card__title">
                        Струнные
                      </h3>
                    </a>
                    <ul class="tool-card__list">
                      {% for toolCardItem in toolCardListOne %}
                      <li class="tool-card__item">
                        <a href="{{ toolCardItem.href }}" class="tool-card__link">{{ toolCardItem.text }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="tools-slider__item tool-card">
                  <div class="tool-card__wrap">
                    <a href="#" class="title-link">
                      <div class="tool-card__visual">
                        <div class="tool-card__cover">
                          <img src="img/vid-2.svg" alt="гитара" class="tool-card__img">
                        </div>
                      </div>
                      <h3 class="tool-card__title">
                        Клавишные
                      </h3>
                    </a>
                    <ul class="tool-card__list">
                      {% for toolCardItem in toolCardListTwo %}
                      <li class="tool-card__item">
                        <a href="{{ toolCardItem.href }}" class="tool-card__link">{{ toolCardItem.text }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="tools-slider__item tool-card">
                  <div class="tool-card__wrap">
                    <a href="#" class="title-link">
                      <div class="tool-card__visual">
                        <div class="tool-card__cover">
                          <img src="img/vid-3.svg" alt="гитара" class="tool-card__img">
                        </div>
                      </div>
                      <h3 class="tool-card__title">
                        Ударные
                      </h3>
                    </a>
                    <ul class="tool-card__list">
                      {% for toolCardItem in toolCardListThree %}
                      <li class="tool-card__item">
                        <a href="{{ toolCardItem.href }}" class="tool-card__link">{{ toolCardItem.text }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="tools-slider__item tool-card">
                  <div class="tool-card__wrap">
                    <a href="#" class="title-link">
                      <div class="tool-card__visual">
                        <div class="tool-card__cover">
                          <img src="img/vid-4.svg" alt="гитара" class="tool-card__img">
                        </div>
                      </div>
                      <h3 class="tool-card__title">
                        Духовые
                      </h3>
                    </a>
                    <ul class="tool-card__list">
                      {% for toolCardItem in toolCardListFour %}
                      <li class="tool-card__item">
                        <a href="{{ toolCardItem.href }}" class="tool-card__link">{{ toolCardItem.text }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="tools-slider__item tool-card">
                  <div class="tool-card__wrap">
                    <a href="#" class="title-link">
                      <div class="tool-card__visual">
                        <div class="tool-card__cover">
                          <img src="img/vid-5.svg" alt="гитара" class="tool-card__img">
                        </div>
                      </div>
                      <h3 class="tool-card__title">
                        Язычковые
                      </h3>
                    </a>
                    <ul class="tool-card__list">
                      {% for toolCardItem in toolCardListFive %}
                      <li class="tool-card__item">
                        <a href="{{ toolCardItem.href }}" class="tool-card__link">{{ toolCardItem.text }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
                <div class="tools-slider__item tool-card">
                  <div class="tool-card__wrap">
                    <a href="#" class="title-link">
                      <div class="tool-card__visual">
                        <div class="tool-card__cover">
                          <img src="img/vid-2.svg" alt="гитара" class="tool-card__img">
                        </div>
                      </div>
                      <h3 class="tool-card__title">
                        Клавишные
                      </h3>
                    </a>
                    <ul class="tool-card__list">
                      {% for toolCardItem in toolCardListTwo %}
                      <li class="tool-card__item">
                        <a href="{{ toolCardItem.href }}" class="tool-card__link">{{ toolCardItem.text }}</a>
                      </li>
                      {% endfor %}
                    </ul>
                  </div>
                </div>
              </div>
              <div class="rectangle">
                <button class="bottom-arrow">
                </button>
              </div>
            </div>
          </div>
        </section>
        <section class="main__instrument">
          <div class="instrument">
            <div class="instrument__list">
              <div class="instrument__item">
                <div class="m-card">
                  <a href="#" class="m-card__link m-card__wrap">
                    <div class="m-card__content poster">
                      <div class="poster__wrap poster__wrap--ins">
                        <h3 class="poster__title">
                          Электрогитара<br>
                          <span class="poster__name">
                            Ibanez RG450<br>Japan 2001
                          </span>
                        </h3>
                        <div class="poster__price cost">
                          49 990 ₽
                        </div>
                      </div>
                    </div>
                    <div class="m-card__visual">
                      <div class="m-card__cover m-card__cover--litl">
                        <img src="img/tool-2.jpg" alt="Гитара" class="m-card__img">
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="instrument__item instrument__item--big">
                <div class="m-card">
                  <a href="#" class="m-card__link m-card__wrap">
                    <div class="m-card__content poster">
                      <div class="poster__wrap poster__wrap--center">
                        <h3 class="poster__title">
                          Электронное пианино<br>
                          <span class="poster__name poster__name--center">
                            CASIO CDP 320
                          </span>
                        </h3>
                        <div class="poster__price poster__price--center cost">
                          <span class="cost__new">38 890 ₽</span>
                        </div>
                      </div>
                    </div>
                    <div class="m-card__visual">
                      <div class="m-card__cover m-card__cover--center">
                        <picture>
                          <img src="img/tool-1.jpg" alt="Гитара" class="m-card__img">
                        </picture>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="instrument__item">
                <div class="m-card">
                  <a href="#" class="m-card__link m-card__wrap">
                    <div class="m-card__content poster">
                      <div class="poster__wrap">
                        <h3 class="poster__title">
                          Саксофон<br>
                          <span class="poster__name">
                            Selmer Super<br>Action 80
                          </span>
                        </h3>
                        <div class="poster__price cost">
                          <span class="cost__new">16 450 ₽</span>
                        </div>
                      </div>
                    </div>
                    <div class="m-card__visual">
                      <div class="m-card__cover">
                        <img src="img/tool-3.jpg" alt="Гитара" class="m-card__img">
                      </div>
                    </div>
                  </a>
                </div>
              </div>
              <div class="instrument__item instrument__item--big">
                <div class="m-card">
                  <a href="#" class="m-card__link m-card__wrap">
                    <div class="m-card__content poster">
                      <div class="poster__wrap poster__wrap--center">
                        <h3 class="poster__title">
                          Электронное пианино<br>
                          <span class="poster__name poster__name--center">
                            CASIO CDP 320
                          </span>
                        </h3>
                        <div class="poster__price poster__price--center cost">
                          <span class="cost__new">38 890 ₽</span>
                        </div>
                      </div>
                    </div>
                    <div class="m-card__visual">
                      <div class="m-card__cover m-card__cover--center">
                        <img src="img/tool-1.jpg" alt="Гитара" class="m-card__img">
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="main__brands">
          {% set brandList = [
          {href: '#', src: 'img/firm-1.png', mob: 'img/firm1-1.png', firm: 'yamana'},
          {href: '#', src: 'img/firm-2.png', mob: 'img/firm1-2.png', firm: 'shure'},
          {href: './showing.html', src: 'img/firm-3.png', mob: 'img/firm1-3.png', firm: 'casio'},
          {href: '#', src: 'img/firm-4.png', mob: 'img/firm1-4.png', firm: 'ibanes'},
          {href: '#', src: 'img/firm-5.png', mob: 'img/firm1-5.png', firm: 'korg'},
          {href: '#', src: 'img/firm-6.png', mob: 'img/firm1-6.png', alt: 'yamaha'},
          {href: '#', src: 'img/firm-7.png', mob: 'img/firm1-7.png'},
          {href: '#', src: 'img/firm-8.png', mob: 'img/firm1-8.png'},
          {href: '#', src: 'img/firm-9.png', mob: 'img/firm1-9.png'},
          {href: '#', src: 'img/firm-10.png', mob: 'img/firm1-10.png'},
          {href: '#', src: 'img/firm-11.png', mob: 'img/firm1-11.png', alt: 'yamaha'},
          {href: '#', src: 'img/firm-12.png', mob: 'img/firm1-12.png'},
          {href: '#', src: 'img/firm-13.png', mob: 'img/firm1-13.png'},
          {href: '#', src: 'img/firm-14.png', mob: 'img/firm1-14.png'},
          {href: '#', src: 'img/firm-15.png', mob: 'img/firm1-15.png'},
          {href: '#', src: 'img/firm-16.png', alt: 'yamaha', mob: 'img/firm1-16.png'},
          {href: '#', src: 'img/firm-17.png', mob: 'img/firm1-17.png'},
          {href: '#', src: 'img/firm-18.png', mob: 'img/firm1-18.png'},
          {href: '#', src: 'img/firm-19.png', mob: 'img/firm1-5.png'},
          {href: '#', src: 'img/firm-20.png', mob: 'img/firm1-7.png'},
          {href: '#', src: 'img/firm-21.png', alt: 'yamaha', mob: 'img/firm1-3.png'},
          {href: '#', src: 'img/firm-22.png', mob: 'img/firm1-12.png'},
          {href: '#', src: 'img/firm-23.png', mob: 'img/firm1-14.png'},
          {href: '#', src: 'img/firm-24.png', mob: 'img/firm1-15.png'},
          ] %}
          <div class="brands">
            <h2 class="brands__title s-title">
              Популярные бренды
            </h2>
            <div class="brands__body brand">
              <div class="brand__head b-head">
                <div class="b-head__list">
                  <div class="b-head__item"><strong>Струнные</strong></div>
                  <div class="b-head__item"><strong>Клавишные</strong></div>
                  <div class="b-head__item"><strong>Ударные</strong></div>
                  <div class="b-head__item"><strong>Духовые</strong></div>
                  <div class="b-head__item"><strong>Язычковые</strong></div>
                </div>
              </div>
              <div class="brand__body">
                {% for brandItem in brandList %}
                <div class="brand__item">
                  <a href="{{ brandItem.href }}" class="brand__link">
                    <picture>
                      <source srcset="{{ brandItem.mob }}" media="(max-width: 1020px)">
                      <img src="{{ brandItem.src }}" alt="{{ brandItem.firm }}" class="brand__img">
                    </picture>
                  </a>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    {% include "includes/footer.html" %}
  </div>
</div>
{% include "includes/sprite.html" %}
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/sl-top.js"></script>
<script src="js/main.js"></script>
<script src="js/profile.js"></script>

{% endblock %}