{% extends "templates/default.html" %}
{% set title = "privat" %}
{% block content %}

<body id="privat">
  <div class="page">
    <div class="substrate"></div>
    <div class="container">
      {% include "includes/header.html" %}
      <main class="main">
        <div class="main__wrap">
          <div class="main-head">
            <ul class="main-head__anons anons">
              <li class="anons__item anons__item--slesh">
                <a href="./index.html" class="anons__link">Главная</a>
              </li>
              <li class="anons__item anons__item--slesh">
                <a href="№" class="anons__link">Личный кабинет</a>
              </li>
              <li class="anons__item">
                <a href="№" class="anons__link">Мои заказы</a>
              </li>
            </ul>
            <h2 class="main-head__title">
              Личный кабинет
            </h2>
            <div class="purchased__description description">
              <ul class="description__list">
                <li class="description__item">
                  <button class="description__btn" id="orders">Информфция о заказах</button>
                </li>
                <li class="description__item">
                  <button class="description__btn" id="buy">Купленные товары</button>
                </li>
                <li class="description__item">
                  <button class="description__btn" id="mydata">Мои данные</button>
                </li>
              </ul>
            </div>
          </div>
          <section class="purchased">
            <div class="purchased__sort">
              <div class="sort">
                <span class="sort__text">Сортировать по:</span>
                <button class="sort__btn sort__btn--pop" id="popularity">Дате<span class="sort__span"></span>
                </button>
                <button class="sort__btn sort__btn--price" id="prece">Цене</button>
              </div>
            </div>
            <div class="purchased__wrap ">
              {% set cardList = [
              {src:'img/product-2.png', small: 'img/product1.jpg',
              text:'011C Гитара классическая 4/4, Doff, Doff', alt: 'гитара', isStrong: true, stock: 'Нет в наличии'},
              {src:'img/product-12.jpg', small: 'img/product2.jpg', repit: 'Заказать ещё',
              text:'185-STAY 1100/02 Slim Стойка- колонна для ..., Doff', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-10.jpg', small: 'img/product1.jpg', repit: 'Заказать ещё',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
              { src:'img/product-2.png', small: 'img/product2.jpg', repit: 'Заказать ещё',
              text:'438PIA0703 Stage Studio<br> Цифровое пианино, черное', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-3.png', small: 'img/product1.jpg',
              text:'185-STAY 1100/02 SlimГитара<br> классическая 4/4, Doff', alt: 'гитара', isStrong: true, stock: 'Нет
              в наличии'},
              {src:'img/product-4.png', small: 'img/product2.jpg',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-2.png', small: 'img/product1.jpg', repit: 'Заказать ещё',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
              { src:'img/product-10.jpg', small: 'img/product2.jpg', repit: 'Заказать ещё',
              text:'438PIA0703 Stage Studio<br> Цифровое пианино, черное', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-11.jpg', small: 'img/product1.jpg',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-13.jpg', small: 'img/product2.jpg', repit: 'Заказать ещё',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', isStrong: true, stock: 'Нет
              в наличии'},
              {src:'img/product-14.jpg', small: 'img/product1.jpg',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-11.jpg', small: 'img/product2.jpg', repit: 'Заказать ещё',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-2.png', small: 'img/product1.jpg',
              text:'011C Гитара классическая 4/4, Doff, Doff', alt: 'гитара', isStrong: true, stock: 'Нет в наличии'},
              {src:'img/product-12.jpg', small: 'img/product2.jpg', repit: 'Заказать ещё',
              text:'185-STAY 1100/02 Slim Стойка- колонна для ..., Doff', alt: 'гитара', prise:'15 980 ₽'},
              {src:'img/product-10.jpg', small: 'img/product1.jpg', repit: 'Заказать ещё',
              text:'185-STAY 1100/02 Slim<br> Стойка-колонна для клавиш...', alt: 'гитара', prise:'15 980 ₽'},
              { src:'img/product-2.png', small: 'img/product2.jpg', repit: 'Заказать ещё',
              text:'438PIA0703 Stage Studio<br> Цифровое пианино, черное', alt: 'гитара', prise:'15 980 ₽'}

              ] %}
              {% for cardItem in cardList %}
              <div class="purchased__item p-card">
                <div class="p-card__wrap">
                  <div class="p-card__select select">
                    <div class="select__wrap">
                      <div class="select__info">
                        Куплен: <span class="select__date">22.09.20</span>
                      </div>
                      <div class="select__buttons">
                        <button class="select__btn">
                          <svg class="select__icon select__icon--favorites">
                            <use href="#favorites"></use>
                          </svg>
                        </button>
                        <button class="select__btn">
                          <svg class="select__icon select__icon--comparison">
                            <use href="#comparison"></use>
                          </svg>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="p-card__visual">
                    <div class="p-card__cover">
                      <picture>
                        <source srcset="{{ cardItem.small }}" media="(max-width: 410px)">
                        <img src="{{ cardItem.src }}" alt="{{ alt }}" class="p-card__img">
                      </picture>
                    </div>
                  </div>
                  <div class="p-card__description">
                    <a href="{{ cardItem.href }}" class="p-card__link">
                      {{ cardItem.text }}
                    </a>
                  </div>
                  <div class="p-card__price p-price">
                    <div class="p-price__wrap p-price__wrap--repit">
                      <div class="p-price__sum">
                        {{ cardItem.prise }}<br>
                        <span class="p-price__stock">{{ cardItem.stock }}</span>
                        <span class="p-price__old-sum">{{ cardItem.oldprise }}</span>
                      </div>
                      <button class="p-price__basket {% if cardItem.isStrong %} p-price__basket--none {% endif %}">
                        {{ cardItem.repit }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
            <div class="purchased__button">
              <button class="purchased-btn">Показать ещё</button>
            </div>
          </section>
          <section class="orders">
            <div class="orders__status status">
              <div class="status__wrap">
                <div class="status__item">
                  Номер заказа
                </div>
                <div class="status__item">
                  Дата время
                </div>
                <div class="status__item">
                  Способ получения
                </div>
                <div class="status__item">
                  Номер отправления
                </div>
                <div class="status__item">
                  Сумма доставки
                </div>
                <div class="status__item">
                  Сумма заказа
                </div>
                <div class="status__item">
                  Статус
                </div>
              </div>
            </div>
            <div class="orders__wrap">
              <div class="orders__item">
                <div class="orders__title">
                  Номер заказа
                </div>
                <div class="orders__text">63748936</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Дата и время
                </div>
                <div class="orders__text"><strong>02.10.2019</strong></div>
                <div class="orders__description">в 15:45</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Способ получения
                </div>
                <div class="orders__text">Курьером</div>
                <div class="orders__description">г. Москва, ул. Барклая, д. 8, 2 этаж, пав. 262</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Номер отправления
                </div>
                <div class="orders__text">127788910</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма доставки
                </div>
                <div class="orders__text"><strong>450 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма заказа
                </div>
                <div class="orders__text orders__text--sum"><strong>3400 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Статус
                </div>
                <div class="order__text orders__text--status">Доставлено</div>
              </div>
              <div class="orders__item orders__item--buton">
                <div class="orders__buttons">
                  <button class="orders__btn orders__btn--one">Повторить заказ</button>
                  <button class="orders__btn orders__btn--two"><span class="orders__span">Состав заказа</span></button>
                </div>
              </div>
              <div class="orders__item orders__item--structure o-cards">
                <div class="o-cards__wrap">
                  <div class="o-cards__item o-card">
                    <div class="o-card__wrap">
                      <div class="o-cards__vasual">
                        <img src="img/mini-1.jpg" alt="Гитара" class="ocards__img">
                      </div>
                      <div class="o-cards__content o-content">
                        <div class="o-content__text">
                          185-STAY 1100/02 Slim Стойка-колонна для клавиш...
                        </div>
                        <div class="o-content__price">
                          <span class="o-content__col">1шт</span>
                          <span class="span o-content__summ">1000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="o-cards__item o-card">
                    <div class="o-card__wrap">
                      <div class="o-cards__vasual">
                        <img src="img/mini-1.jpg" alt="Гитара" class="ocards__img">
                      </div>
                      <div class="o-cards__content o-content">
                        <div class="o-content__text">
                          185-STAY 1100/02 Slim Стойка-колонна для клавиш...
                        </div>
                        <div class="o-content__price">
                          <span class="o-content__col">1шт</span>
                          <span class="span o-content__summ">1000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="o-cards__item o-card">
                    <div class="o-card__wrap">
                      <div class="o-cards__vasual">
                        <img src="img/mini-1.jpg" alt="Гитара" class="ocards__img">
                      </div>
                      <div class="o-cards__content o-content">
                        <div class="o-content__text">
                          185-STAY 1100/02 Slim Стойка-колонна для клавиш...
                        </div>
                        <div class="o-content__price">
                          <span class="o-content__col">1шт</span>
                          <span class="span o-content__summ">1000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="orders__wrap">
              <div class="orders__item">
                <div class="orders__title">
                  Номер заказа
                </div>
                <div class="orders__text">63748936</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Дата и время
                </div>
                <div class="orders__text"><strong>02.10.2019</strong></div>
                <div class="orders__description">в 15:45</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Способ получения
                </div>
                <div class="orders__text">Курьером</div>
                <div class="orders__description">г. Москва, ул. Барклая, д. 8, 2 этаж, пав. 262</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Номер отправления
                </div>
                <div class="orders__text">127788910</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма доставки
                </div>
                <div class="orders__text"><strong>450 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма заказа
                </div>
                <div class="orders__text orders__text--sum"><strong>3400 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Статус
                </div>
                <div class="order__text orders__text--return">Возврат</div>
              </div>
              <div class="orders__item orders__item--buton">
                <div class="orders__buttons">
                  <button class="orders__btn orders__btn--one">Повторить заказ</button>
                  <button class="orders__btn orders__btn--two">
                    <span class="orders__span">Состав заказа</span>

                  </button>
                </div>
              </div>
              <div class="orders__item orders__item--structure o-cards">
                <div class="o-cards__wrap">
                  <div class="o-cards__item o-card">
                    <div class="o-card__wrap">
                      <div class="o-cards__vasual">
                        <img src="img/mini-1.jpg" alt="Гитара" class="ocards__img">
                      </div>
                      <div class="o-cards__content o-content">
                        <div class="o-content__text">
                          185-STAY 1100/02 Slim Стойка-колонна для клавиш...
                        </div>
                        <div class="o-content__price">
                          <span class="o-content__col">1шт</span>
                          <span class="span o-content__summ">1000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="o-cards__item o-card">
                    <div class="o-card__wrap">
                      <div class="o-cards__vasual">
                        <img src="img/mini-1.jpg" alt="Гитара" class="ocards__img">
                      </div>
                      <div class="o-cards__content o-content">
                        <div class="o-content__text">
                          185-STAY 1100/02 Slim Стойка-колонна для клавиш...
                        </div>
                        <div class="o-content__price">
                          <span class="o-content__col">1шт</span>
                          <span class="span o-content__summ">1000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="o-cards__item o-card">
                    <div class="o-card__wrap">
                      <div class="o-cards__vasual">
                        <img src="img/mini-1.jpg" alt="Гитара" class="ocards__img">
                      </div>
                      <div class="o-cards__content o-content">
                        <div class="o-content__text">
                          185-STAY 1100/02 Slim Стойка-колонна для клавиш...
                        </div>
                        <div class="o-content__price">
                          <span class="o-content__col">1шт</span>
                          <span class="span o-content__summ">1000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="orders__wrap">
              <div class="orders__item">
                <div class="orders__title">
                  Номер заказа
                </div>
                <div class="orders__text">63748936</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Дата и время
                </div>
                <div class="orders__text"><strong>02.10.2019</strong></div>
                <div class="orders__description">в 15:45</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Способ получения
                </div>
                <div class="orders__text">Курьером</div>
                <div class="orders__description">г. Москва, ул. Барклая, д. 8, 2 этаж, пав. 262</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Номер отправления
                </div>
                <div class="orders__text">127788910</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма доставки
                </div>
                <div class="orders__text"><strong>450 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма заказа
                </div>
                <div class="orders__text orders__text--sum"><strong>3400 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Статус
                </div>
                <div class="order__text orders__text--way">В пути</div>
              </div>
              <div class="orders__item orders__item--buton">
                <div class="orders__buttons">
                  <button class="orders__btn orders__btn--one">Повторить заказ</button>
                  <button class="orders__btn orders__btn--two"><span class="orders__span">Состав заказа</span></button>
                </div>
              </div>
            </div>
            <div class="orders__wrap">
              <div class="orders__item">
                <div class="orders__title">
                  Номер заказа
                </div>
                <div class="orders__text">63748936</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Дата и время
                </div>
                <div class="orders__text"><strong>02.10.2019</strong></div>
                <div class="orders__description">в 15:45</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Способ получения
                </div>
                <div class="orders__text">Курьером</div>
                <div class="orders__description">г. Москва, ул. Барклая, д. 8, 2 этаж, пав. 262</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Номер отправления
                </div>
                <div class="orders__text">127788910</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма доставки
                </div>
                <div class="orders__text"><strong>450 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма заказа
                </div>
                <div class="orders__text orders__text--sum"><strong>3400 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Статус
                </div>
                <div class="order__text orders__text--issued">Оформляется</div>
              </div>
              <div class="orders__item orders__item--buton">
                <div class="orders__buttons">
                  <button class="orders__btn orders__btn--one">Повторить заказ</button>
                  <button class="orders__btn orders__btn--two"><span class="orders__span">Состав заказа</span></button>
                </div>
              </div>
            </div>
            <div class="orders__wrap">
              <div class="orders__item">
                <div class="orders__title">
                  Номер заказа
                </div>
                <div class="orders__text">63748936</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Дата и время
                </div>
                <div class="orders__text"><strong>02.10.2019</strong></div>
                <div class="orders__description">в 15:45</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Способ получения
                </div>
                <div class="orders__text">Курьером</div>
                <div class="orders__description">г. Москва, ул. Барклая, д. 8, 2 этаж, пав. 262</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Номер отправления
                </div>
                <div class="orders__text">127788910</div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма доставки
                </div>
                <div class="orders__text"><strong>450 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Сумма заказа
                </div>
                <div class="orders__text orders__text--sum"><strong>3400 ₽</strong></div>
              </div>
              <div class="orders__item">
                <div class="orders__title">
                  Статус
                </div>
                <div class="orders__text orders__text--error">Ошибка</div>
              </div>
              <div class="orders__item orders__item--buton">
                <div class="orders__buttons">
                  <button class="orders__btn orders__btn--one">Повторить заказ</button>
                  <button class="orders__btn orders__btn--two"><span class="orders__span">Состав заказа</span></button>
                </div>
              </div>
            </div>
            <div class="orders__button">
              <button class="purchased-btn">Показать ещё</button>
            </div>
          </section>
          <section class="my-data">
            <div class="my-data__wrap">
              <fieldset class="my-data__fieldset">
                <legend class="my-data__legend">Данные для оформления заказов</legend>
                <ul class="my-data__list" role="none">
                  <li class="my-data__item">
                    <label for="name" class="my-data__label">Ваше имя</label>
                    <input type="text" class="my-data__input" id="name" placeholder="Максим">
                  </li>
                  <li class="my-data__item">
                    <label for="surname" class="my-data__label">Фамилия</label>
                    <input type="text" class="my-data__input" id="surname" placeholder="Иванов">
                  </li>
                  <li class="my-data__item">
                    <label for="patronymic" class="my-data__label">Отчество</label>
                    <input type="text" class="my-data__input" id="patronymic" placeholder="Константинович">
                  </li>
                  <li class="my-data__item">
                    <label for="phone" class="my-data__label">Телефон</label>
                    <input type="tel" class="my-data__input" id="phone" placeholder="+7 (977) 883-63-28">
                  </li>
                  <li class="my-data__item">
                    <label for="email" class="my-data__label">E-mail</label>
                    <input type="email" class="my-data__input" id="email" placeholder="info@maximivanov.ru">
                  </li>
                </ul>
                <div class="my-data__title">Мои адреса для доставки</div>
                <ul class="my-data__list-two" role="none">
                  <li class="my-data__item-two">
                    <input type="text" class="my-data__input-two" placeholder="Москва, ул. Ленина, д.50, кв.5">
                    <button class="my-data__span"></button>
                  </li>
                  <li class="my-data__item-two">
                    <input type="text" class="my-data__input-two"
                      placeholder="Санкт-Петербург, ул. Генерала Белобородова, д. 70">
                    <button class="my-data__span"></button>
                  </li>
                  <li class="my-data__item-two">
                    <input type="text" class="my-data__input-two"
                      placeholder="Екатеринбург, ул. Песчаных строителей и иноплан..., кв.3">
                    <button class="my-data__span"></button>
                  </li>
                </ul>
                <div class="my-data__button">
                  <input type="submit" class="my-data__btn" value="Добавить новый адрес">
                </div>
              </fieldset>
            </div>
          </section>
        </div>
      </main>
      {% include "includes/footer.html" %}
    </div>
  </div>
  {% include "includes/sprite.html" %}
  <script src="js/privat.js"></script>
  <script src="js/main.js"></script>
  <script src="js/profile.js"></script>
</body>

{% endblock %}